<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>

<div class="container">
    <h4 class="text-center">LISTA DE DIPLOMADOS</h4>
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th class="checkboxAll">
                            <div class="md-checkbox">
                                <input type="checkbox" id="chek1" name="acs" (click)="masterToggle()">
                                <label for="chek1"></label>
                            </div>
                        </th>
                        <th>DENOMINACIÓN</th>
                        <th>MODULOS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of diplomados |filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="checkboxAll">
                            <div class="md-checkbox">
                                <input id="{{item.idestudiante}}" type="checkbox" name="acs">
                                <label for="{{item.idestudiante}}"></label>
                            </div>
                        </td>
                        <td (dblclick)="Editar(item, basicModal4)">{{item.denomination | uppercase }}</td>
                        <td (click)="iniciarModulo(item)"> <i class="fa fa-book fa-3x"></i> </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>


<button (click)="iniciarNuevo(basicModal4)" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
  style="color:white; font-size: 20px; " class="fas fa-external-link-alt"></i>
</button>

<button id="delite-contact-button" type="button" class="btn btn-danger btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-calendar-times"></i>
</button>

<div mdbModal #basicModal4="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal4.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modulos</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <textarea type="text" id="denominacion" [(ngModel)]="newDiplomado.denomination" class="md-textarea form-control" mdbInput></textarea>
                    <label for="denominacion">Denomination</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal4.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" (click)="GuardarOeditar(basicModal4)" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>