<div class="containder">
    <h4 class="mt-4 text-center">{{diploma.denomination | uppercase}}</h4>

    <div class="card mt-4">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th rowspan="2">MODULOS</th>
                        <th colspan="2">CREDITOS</th>
                        <th colspan="2">HORAS</th>
                    </tr>
                    <tr>
                        <th>FASE PRESENCIAL</th>
                        <th>FASE NO PRESENCIAL</th>
                        <th>FASE PRESENCIAL</th>
                        <th>FASE NO PRESENCIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of modulos">
                        <th (dblclick)="editarModule(item, basicModal4)">{{item.denominacion | uppercase}}</th>
                        <td (dblclick)="editarModule(item, basicModal4)">{{item.credfpresencial}}</td>
                        <td (dblclick)="editarModule(item, basicModal4)">{{item.credfnopresencial}}</td>
                        <td (dblclick)="editarModule(item, basicModal4)">{{item.horafpresencial}}</td>
                        <td (dblclick)="editarModule(item, basicModal4)">{{item.horafnopresencial}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button (click)="basicModal4.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
  style="color:white; font-size: 20px; " class="fas fa-external-link-alt"></i>
</button>

    <button id="delite-contact-button" type="button" class="btn btn-danger btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-calendar-times"></i>
</button>

    <div mdbModal #basicModal4="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mybasicModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" (click)="basicModal4.hide()">
          <span aria-hidden="true">×</span>
        </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Modulos</h4>
                </div>
                <div class="modal-body">
                    <div class="md-form">
                        <textarea type="text" id="denominacion" [(ngModel)]="ModuloNew.denominacion" class="md-textarea form-control" mdbInput></textarea>
                        <label for="denominacion">Denomination</label>
                    </div>


                    <!-- <div class="md-form">
                        <input mdbInput type="text" [(ngModel)]="ModuloNew.denominacion" id="denomination" class="form-control">
                        <label for="denomination" class=" ">Denomination</label>
                    </div> -->
                    <div class="row">
                        <div class="col-6">
                            <div class="md-form">
                                <input mdbInput type="number" [(ngModel)]="ModuloNew.credfpresencial" id="credfpresencial" class="form-control">
                                <label for="credfpresencial" class=" ">Credito presencial</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="md-form">
                                <input mdbInput type="number" [(ngModel)]="ModuloNew.credfnopresencial" id="credfnopresencial" class="form-control">
                                <label for="credfnopresencial" class=" ">Credito no presencial</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="md-form">
                                <input mdbInput type="number" [(ngModel)]="ModuloNew.horafpresencial" id="horafpresencia" class="form-control">
                                <label for="horafpresencia" class=" ">Horas presencial</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="md-form">
                                <input mdbInput type="number" [(ngModel)]="ModuloNew.horafnopresencial" id="horafnopresencia" class="form-control">
                                <label for="horafnopresencia" class=" ">Horas no presencial</label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal4.hide()" mdbWavesEffect>Cancelar</button>
                    <button type="button" (click)="GuardarOeditar(basicModal4)" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>