$desktop: 1140px;
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor-menu {
    ul {
        list-style: none;
    }
    .card .btn {
        padding: 15px 15px;
        width: 100%;
        text-align: left;
        text-decoration: none;
    }
}

.derecha {
    float: right;
}

a.sub-menu {
    padding-left: 20px;
    color: crimson;
    font-weight: 400;
}

a.sub-menu:hover {
    padding-left: 20px;
    color: blue;
    font-weight: 500;
}

a.font-weight-bold {
    margin: 0;
    color: black;
    font-weight: 400;
    width: 200px;
    display: block;
    text-decoration: none;
    .fas {
        font-size: 20px!important;
        color: crimson;
    }
}

a.font-weight-bold:hover {
    color: #33b5e5;
    font-weight: 400;
}

.user-profile img {
    border-radius: 50%;
}

a {
    text-decoration: none;
    cursor: pointer;
}