<div class="contenedor-menu animated fadeIn">
    <ul class="menu">
        <!-- inicio del menu -->
        <div class="card" id="cardMenu">
            <div class="card-header">
                <h5 class="mb-0">
                    <button mdbBtn class="btn btn-link collapsed" color="light" mdbWavesEffect>
            <li>
              <a class="font-weight-bold">Plantilla
                <!-- <i class="derecha fas fa-bars fa-2x"></i> -->
              </a>
            </li>
          </button>
                </h5>
            </div>
        </div>
        <!-- fin del menu -->
        <!-- inicio del segundo  -->
        <div class="accordion" id="accordionExample">
            <!-- primero -->
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button mdbBtn class="btn btn-link collapsed" color="light" mdbWavesEffect type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <li class="user-profile">
                <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img src="assets/img/users/1.jpg"
                    width="40px" height="40px" alt="user" /><span class="hide-menu">Gaturro</span></a>
              </li>
            </button>
                    </h2>
                </div>
                <!-- cuando deseas que se habra solo poner "show" en la clase -->
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <li>
                            <a class="sub-menu">Mi Prefil</a>
                        </li>
                    </div>
                    <!-- <div class="card-body">
                        <li>
                            <a class="sub-menu">Mi Balance</a>
                        </li>
                    </div> -->
                    <div class="card-body">
                        <li>
                            <a class="sub-menu" [routerLink]="['account-settings']" routerLinkActive="router-link-active">Configurar
                cuenta</a>
                        </li>
                    </div>
                    <div class="card-body">
                        <li (click)="cerrarsesion()">
                            <a class="sub-menu pointer">Logout</a>
                        </li>
                    </div>
                </div>
            </div>
            <!-- fin del primero -->

            <!-- segundo -->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button mdbBtn class="btn btn-link collapsed" color="light" mdbWavesEffect data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <li>
                <a class="font-weight-bold">Diplomado
                    <i class="fas fa-user-graduate derecha"></i>
                </a>
              </li>
            </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <li [routerLink]="['Diplomado']" routerLinkActive="active">
                            <a class="sub-menu">DIPLOMADO</a>
                        </li>
                    </div>
                    <div class="card-body">
                        <li [routerLink]="['Aperturar-diploma']" routerLinkActive="active">
                            <a class="sub-menu">INSCRIPCIÓN DIPLOMADOS</a>
                        </li>
                    </div>
                    <!-- <div class="card-body">
                        <li>
                            <a class="sub-menu">Hijo 1</a>
                        </li>
                    </div> -->
                </div>
            </div>
            <!-- fin segundo -->
            <!-- inicio del tercero -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button mdbBtn class="btn btn-link collapsed" color="light" mdbWavesEffect data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <li>
                <a  [routerLink]="['Alumnos-lista']" routerLinkActive="active" class="font-weight-bold">ESTUDIANTE
                    <i class="fas fa-bookmark derecha"></i>
                </a>
              </li>
            </button>
                    </h2>
                </div>

            </div>
            <!-- fin del tercero -->
            <!-- inicio del Cuarto -->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button mdbBtn class="btn btn-link collapsed" color="light" mdbWavesEffect data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <li>
                <a  [routerLink]="['Docente']" routerLinkActive="active" class="font-weight-bold">DOCENTE
                    <i class="fas fa-male derecha"></i>
                </a>
              </li>
            </button>
                    </h2>
                </div>

            </div>
            <!-- fin del Cuarto -->
        </div>

    </ul>

</div>