<div class="info-color">
    <div class="row mb-10">
        <!-- <div class="col-2 offset-1">
            <i [routerLink]="['/Posgrado/Aperturar-diploma']" class="fas fa-arrow-alt-circle-left fa-3x"></i>
        </div> -->
        <div class="col-9">
            <div class="md-form">
                <select class="mdb-select colorful-select dropdown-dark" #selectlista (change)="setNewListar(selectlista.value) ">
                <option disabled="disabled">-Modulos-</option>
                <option *ngFor="let lista of modulos" [value]="lista.idmodulo">
                    {{lista.denominacion}}
                </option>
            </select>
            </div>
        </div>
    </div>
</div>
<div class="free-bird">
    <h6 class="text-center">{{semestre.diplomado}}</h6>
</div>

<!-- <h6 class="text-center mt-10">LISTA DE ALUMNOS POR MODULO</h6> -->
<div class="container mt-10" id="idlistaaptos">
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>Nº</th>
                        <th>CÓDIGO</th>
                        <th>ALUMNO</th>
                        <th>NOTA</th>
                        <th>OBSERVACIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of alumnonotas;let i = index ">
                        <td>0{{i+1}}</td>
                        <td>{{item.estudiante.codigo}}</td>
                        <td>{{item.estudiante.apellido| uppercase}}, {{item.estudiante.nombre | uppercase}}</td>
                        <td class="selector" #link>
                            <input type="number" (keyup.Tab)="colorear(link,item)" [ngClass]="{'rojo': item.notamodulo < 14 }" (click)="colorear(link,item)" [(ngModel)]="item.notamodulo" #monday (keyup.enter)="editarNota(monday.value)">
                            <i #checado class="fas fa-check chekeado"></i>
                        </td>
                        <td [ngClass]="{'rojo': item.notamodulo < 14 }" class="text-center">{{item.notamodulo | numero}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <p>
            <button type="button" mdbBtn color="primary" [disabled]="cambioLista" class="relative waves-light" mdbWavesEffect (click)="MostrarEditar(alumnonotas)">GENERAR ACTA</button>
        </p>
    </div>
    <div class="col-4">
        <p>
            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="IrALista()">IMPRIMIR REGISTRO</button>
        </p>
    </div>
</div>