.table {
    font-weight: 600;
}

.selector {
    input {
        width: 50%;
        text-align: center;
        font-weight: 600;
    }
}

.colorVerde {
    background: rgb(128, 228, 153);
    color: rgb(49, 17, 192);
}

i {
    display: none;
    float: right;
    display: none;
}

.chekeado {
    display: block;
    font-weight: 600;
}

td {
    font-weight: 600;
}

.rojo {
    color: red;
}

.mt-10 {
    margin-top: 50px;
}

th {
    font-weight: 700;
}