<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3 text-center">Bienvenido</h1>
        <p class="lead">Esta es un inicio de sistema para posgrado</p>
    </div>
</div>
<footer>&copy; versión 1.2.3-beta</footer>