<div id="imprimirpfg">
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="/assets/img/logo-unsch4.png">
            </div>
            <div class="cabeza">
                <h3 class="text-center">UNIVERSIDAD NACIONAL DE SAN CRISTOBAL DE HUAMANGA</h3>
                <h5 class="text-center">ESCUELA DE POSGRADO</h5>
                <h5 class="text-center">ACTA DE EVALUACIÓN FINAL</h5>
            </div>
        </div>
        <div class="sub-cabeza">
            <div class="item">
                <h6>UNIDAD DE POSGRADO</h6>
                <h6>DIPLOMADO</h6>
                <h6>MODULO</h6>
                <h6>PLAN</h6>
            </div>
            <div class="item">
                <h6> : CIENCIAS DE LA SALUD</h6>
                <h6> :{{ detallediploma.diplomado | uppercase}}</h6>
                <h6> :{{ imprimir[0].modulo.denominacion | uppercase}}</h6>
                <h6> : 2018</h6>
            </div>
            <div class="item">
                <h6>SEMESTRE</h6>
                <h6>CREDITOS</h6>
                <h6>FECHA</h6>
                <h6>MODULO</h6>
            </div>
            <div class="item">
                <h6>: {{ imprimir[0].semestre.ciclo}}</h6>
                <h6>: {{ imprimir[0].modulo.credfnopresencial + imprimir[0].modulo.credfpresencial }}</h6>
                <h6>: {{ dia}}/{{mes}}/{{anio}}</h6>
                <h6>: {{ imprimir[0].modulo.nummodulo | romanos }}</h6>
                <!-- <h6>:{{imprimir[0].modulo.nummodulo | romanos}}</h6> -->
            </div>
        </div>
        <div class="card">
            <div class="card-body animated fadeIn">
                <table class="table table-hover table-responsive-md table-fixed">
                    <thead>
                        <tr class="table-dark">
                            <th>Nº</th>
                            <th>CÓDIGO</th>
                            <th>ALUMNO</th>
                            <th>NOTA</th>
                            <th>OBSERVACIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of imprimir | paginate: { itemsPerPage: 30, currentPage: p }">
                            <td>{{item.numero}}</td>
                            <td>{{item.estudiante.codigo}}</td>
                            <td class="nombre">{{item.estudiante.apellido| uppercase}}, {{item.estudiante.nombre | uppercase}}</td>
                            <td class="azul" [ngClass]="{'rojo': item.notamodulo < 14 }">{{item.notamodulo | number:'2.0-0'}}</td>
                            <td class="azul text-center" [ngClass]="{'rojo': item.notamodulo < 14 }">{{item.notamodulo | numero}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="abajo">
        <div class="fecha">
            <p class="meses">Ayacucho {{dia}} de {{mes | meses}} {{anio}}</p>
        </div>
        <div class='define'>
            <div class="docente">
                <p>....................................................</p>
                <p>Docente:</p>
                <p>{{ imprimir[0].semestre.iddocente.nombredocente | uppercase }} {{ imprimir[0].semestre.iddocente.apellidodocete | uppercase }}</p>
            </div>
            <div class="docente">
                <p>....................................................</p>
                <p>Directora de unidad de Posgrado</p>
            </div>
            <div class="docente">
                <p>....................................................</p>
                <p>Director de Escuela</p>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<div class="row">
    <div class="col-2 offset-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-5">
        <p>
            <input type="button" value="IMPRIMIR ACTA" id="btPrint" (click)="createPDF()" />
        </p>
    </div>
</div>