// pdf
td {
    font-weight: 600;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}

.header {
    display: grid;
    grid-template-columns: 15% 75%;
}

.sub-cabeza {
    display: grid;
    grid-template-columns: 18% 52% 10% 20%;
}

h6 {
    // font-weight: 600;
    font-size: 12px;
    font-family: Arial;
}

.card {
    margin-top: 20px;
}

// .container {
//     width: 210mm;
//     height: 267mm;
// }
#imprimirpfg {
    // width: 210mm;
    // height: 297mm;
    padding: 20px 60px;
    // border: 1px solid #D2D2D2; 
    // border: 1px solid rgb(0, 0, 0);
    background: #fff;
    margin: 10px auto;
}

.abajo {
    display: grid;
    grid-template-rows: 75px 15px;
    font-size: 8px;
    font-family: Arial;
    font-weight: 600;
    .define {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
        font-family: Arial;
        font-size: 10px;
    }
    .fecha {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "a b c";
        margin: 20px;
        font-size: 8px;
        .meses {
            grid-area: c;
            float: right!important;
            align-self: end;
        }
    }
}

th {
    font-weight: 700;
}

.logo {
    img {
        width: 45%;
        height: 70%;
    }
}