.row {
    margin-top: 200px;
    z-index: 2;
}

div.fondo {
    z-index: 0;
    margin: -160 0 0 -140px
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 570px;
    padding: 60px 40px;
    // box-sizing: border-box;
}

.h4 {
    color: white;
}

.redes {
    color: white;
}