<img class="fondo" src="../../../assets/img/fondo.jpg" width="100%" height="100%">
<div class="row">
    <div class="loginBox">

        <!-- Default form login -->
        <form class="text-center border border-light p-5">

            <p class="h4 mb-4">Iniciar sesión</p>

            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <!-- <mdb-checkbox [default]="true">Recuerdame</!-->
                </div>
                <!-- <div> -->
                <!-- Forgot password -->
                <!-- <a href="">olvidaste tu contraseña??</a>
                </div> -->
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="iniciosesion()">Ingresar</button>
            <!-- Social login -->
            <p class="redes">REDES SOCIALES:</p>

            <a type="button" class="light-blue-text mx-2">
                <!-- <i class="fab fa-facebook-f"></i> -->
                <i class="fab fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <!-- <i class="fab fa-twitter"></i> -->
                <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
            </a>
        </form>
        <!-- Default form login -->
    </div>
</div>