// semestre 
table.table th,
table.table td {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.table th,
.table td {
    padding: 0rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

tr,
td,
th {
    border: 2px solid black;
    padding: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    font-family: Arial;
}

.numeration {
    width: 40px;
    padding: 0;
    margin: 0;
}

.mod {
    width: 40px;
    padding: 0;
    margin: 0;
}

.code {
    width: 70px;
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 15% 75%;
}

.sub-cabeza {
    display: grid;
    grid-template-columns: 20% 80%;
}

h6 {
    font-weight: 600;
    font-size: 12px;
    font-family: Arial;
}

.card {
    margin-top: 20px;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}

.logo {
    img {
        width: 45%;
        height: 70%;
    }
}

th {
    font-weight: 700;
}