<div id="imprimirpfg">
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="/assets/img/logo-unsch4.png">
            </div>
            <div class="cabeza">
                <h3 class="text-center">UNIVERSIDAD NACIONAL DE SAN CRISTOBAL DE HUAMANGA</h3>
                <h5 class="text-center">ESCUELA DE POSGRADO</h5>
                <h5 class="text-center">REGISTRO DE EVALUACIÓN PERMAMENTE</h5>
            </div>
        </div>
        <div class="sub-cabeza">
            <div class="item">
                <h6>UNIDAD DE POSGRADO</h6>
                <h6>DIPLOMADO</h6>

            </div>
            <div class="item">
                <h6>:CIENCIAS DE LA SALUD</h6>
                <h6>:{{semestre.diplomado | uppercase}}</h6>
            </div>

        </div>
        <div class="card">
            <div class="card-body animated fadeIn">
                <table class="table table-hover table-responsive-md table-fixed" bordered="true">
                    <thead>
                        <tr class="table-dark">
                            <th class="numeration" scope="col">Nº</th>
                            <th class="code" scope="col">CODIGO</th>
                            <th scope="col">APELLIDOS Y NOMBRES</th>
                            <th class="mod" scope="col">MOD I</th>
                            <th class="mod" scope="col">MOD II</th>
                            <th class="mod" scope="col">MOD III</th>
                            <th class="mod" scope="col">MOD IV</th>
                            <th class="mod" scope="col">MOD V</th>
                            <th class="mod" scope="col">MOD VI</th>
                            <th class="mod" scope="col">TALLER</th>
                            <th class="mod" scope="col">Prf</th>
                            <th class="code" scope="col">CODIGO</th>
                            <th class="mod" scope="col">NOTA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of Notasimprimir | paginate: { itemsPerPage: 30, currentPage: pagina1 }">
                            <td class="numeration" scope="row">{{item.numero}}</td>
                            <td class="code" scope="row">{{item.codigo}}</td>
                            <td scope="row" class="text-left nombre">{{item.fullname| uppercase}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod1 < 14 }">{{item.nmod1 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod2 < 14 }">{{item.nmod2 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod3 < 14 }">{{item.nmod3 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod4 < 14 }">{{item.nmod4 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod5 < 14 }">{{item.nmod5 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod6 < 14 }">{{item.nmod6 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': item.nmod7 < 14 }">{{item.nmod7 | number:'2.0-0'}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': (item.nmod1 + item.nmod2 + item.nmod3 + item.nmod4 + item.nmod5 + item.nmod6 + item.nmod7)/7 < 14 }">{{(item.nmod1 + item.nmod2 + item.nmod3 + item.nmod4 + item.nmod5 + item.nmod6 + item.nmod7)/7 | number:'2.0-0'}}</td>
                            <td class="code" scope="row">{{item.codigo}}</td>
                            <td class="mod" scope="row" class="azul text-center" [ngClass]="{'rojo': (item.nmod1 + item.nmod2 + item.nmod3 + item.nmod4 + item.nmod5 + item.nmod6 + item.nmod7)/7 < 14 }">{{(item.nmod1 + item.nmod2 + item.nmod3 + item.nmod4 + item.nmod5 + item.nmod6 + item.nmod7)/7 | number:'2.0-0'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 offset-3">
        <pagination-controls (pageChange)="pagina1 = $event"></pagination-controls>
    </div>
    <p>
        <input type="button" value="IMPRIMIR" id="btPrint" (click)="createPDF()" />
    </p>
</div>