<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>

<div class="container">
    <h4 class="text-center">LISTA DE DOCENTES</h4>
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th class="checkboxAll">
                            <div class="md-checkbox">
                                <input type="checkbox" id="chek1" name="acs" (click)="masterToggle()">
                                <label for="chek1"></label>
                            </div>
                        </th>
                        <th>ALUMNO</th>
                        <th>DNI</th>
                        <th>TELÉFONO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of docentes |filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="checkboxAll">
                            <div class="md-checkbox">
                                <input id="{{item.idestudiante}}" type="checkbox" name="acs">
                                <label for="{{item.idestudiante}}"></label>
                            </div>
                        </td>
                        <td class="text-left">{{item.nombredocente | uppercase }} {{item.apellidodocete | uppercase }}</td>
                        <td>{{item.dnidocente}}</td>
                        <td>{{item.telefono}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button (click)="basicModal2.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
</button>


<button id="delite-contact-button" type="button" class="btn btn-danger btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-calendar-times"></i>
</button>

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal2.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">DOCENTE</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput [(ngModel)]="NewDocente.nombredocente" type="text" id="nombredocente" class="form-control">
                    <label for="nombredocente" class="">Nombre<span>*</span> </label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="NewDocente.apellidodocete" type="text" id="apellidodocete" class="form-control">
                    <label for="apellidodocete" class="">Apellidos <span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="NewDocente.dnidocente" type="number" id="dnidocente" class="form-control">
                    <label for="dnidocente" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="NewDocente.telefono" type="number" id="fecha_nacimiento" class="form-control">
                    <label for="fecha_nacimiento" class="">Telefono</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" (click)="GuardarOeditar(basicModal2)" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>