<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Temas</h5>
                <hr>

                <p>Con el sidebar claro</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('indigo')" type="button" class="btn btn-indigo"><span
            [ngClass]="{'none': sincheck!=='indigo'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('default-color')" type="button" class="btn btn-default"><span
            [ngClass]="{'none': sincheck!=='default-color'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('purple')" type="button" class="btn btn-secondary"><span
            [ngClass]="{'none':sincheck!=='purple'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('green')" type="button" class="btn btn-success"><span
            [ngClass]="{'none': sincheck!=='green'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('info-color')" type="button" class="btn btn-info"><span
            [ngClass]="{'none': sincheck!=='info-color'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('warning-color')" type="button" class="btn btn-warning"><span
            [ngClass]="{'none': sincheck!=='warning-color'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('red')" type="button" class="btn btn-danger"><span
            [ngClass]="{'none': sincheck!=='red'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('elegant-color')" type="button" color="elegant"><span
            [ngClass]="{'none': sincheck!=='elegant-color'}">&#10003;</span></button>
                <button mdbBtn mdbWavesEffect (click)="cambiarColor('stylish-color')" type="button" color="blue-grey"><span
            [ngClass]="{'none': sincheck!=='stylish-color'}">&#10003;</span></button>
                <!-- <button type="button" mdbBtn color="dark" mdbWavesEffect>Dark</button> -->
                <p>Con sidebar oscuros</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

            </div>
        </div>
    </div>
</div>