<mdb-navbar id="temacolor" SideClass="navbar navbar-expand-lg navbar-dark info-color">
    <mdb-navbar-brand class="
        nav2">
        <a class="navbar-brand">Diplomatura</a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav">
            <!-- <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Action</a>
                    <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Another action</a>
                    <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Separated link</a>
                </div>
            </li> -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/img/users/1.jpg" width="40px" height="40px" alt="user" class="profile-pic" /></a>
                <div class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <ul class="dropdown-user">
                        <li>
                            <div class="dw-user-box">
                                <div><img src="assets/img/users/1.jpg" width="200px" height="200px"></div>
                                <div>
                                    <h4>Gaturro Jobs</h4>
                                    <p class="text-muted">varun@gmail.com</p><a class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                </div>
                            </div>
                        </li>
                        <!-- <li><a><i class="fas fa-user"></i> My Profile</a></li>
                        <li><a><i class="fas fa-wallet"></i> My Balance</a></li>
                        <li><a><i class="fas fa-address-book"></i> Inbox</a></li> -->
                        <li><a [routerLink]="['account-settings']" routerLinkActive="router-link-active"><i class="fas fa-edit"></i>
                Account Setting</a></li>
                        <li><a class="pointer" (click)="cerrarsesion()"><i class="fas fa-power-off"></i> Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>