a {
    img {
        border-radius: 50%;
    }
}

mdb-navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    mdb-navbar-brand {
        width: 80%;
        // margin-left: -10%;
        // left: 0;
    }
    mdb-navbar-brand.nav2 {
        width: 70%;
    }
    // links {
    //     position: relative;
    //     width: 100%;
    //     ul.navbar-nav {
    //         position: relative;
    //         right: 0;
    li {
        list-style: none;
        .dropdown-user {
            width: 100%;
            .dw-user-box {
                align-content: center;
            }
        }
    }
    //     }
    // }
}