<div class="info-color">
    <div class="row">
        <div class="col-2">
            <P [routerLink]="['/Posgrado/Aperturar-diploma']">
                <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
            </P>
        </div>
    </div>
</div>
<div class="free-bird">
    <div class="container">
        <h6 class="text-center font-weight-bold p-4 mt-4">{{detalleDiplo.diplomado}}</h6>
    </div>
</div>
<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>
<div class="container animated fadeIn">
    <h5 class="text-center">LISTA DE ALUMNOS INSCRITOS</h5>
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th class="checkboxAll">
                            <div class="md-checkbox">
                                <input type="checkbox" id="chek1" name="acs" (click)="masterToggle()">
                                <label for="chek1"></label>
                            </div>
                        </th>
                        <th class="numeration">Nº</th>
                        <th>ALUMNO</th>
                        <th>DNI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of actas  |filter:term ;let i = index">
                        <td class="checkboxAll">
                            <div class="md-checkbox">
                                <input id="{{item.idestudiante}}" type="checkbox" name="acs">
                                <label for="{{item.idestudiante}}"></label>
                            </div>
                        </td>
                        <td class="numeration">{{i+1}}</td>
                        <td class="text-left">{{item.apellido| uppercase}}, {{item.nombre | uppercase}}</td>
                        <td>{{item.dni}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        </div>
    </div>
</div>

<hr>
<button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="finalizarMatricula()">FINALIZAR INSCRIPCIÓN</button>
<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button (click)="basicModal2.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
      style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
    </button>


<button id="delite-contact-button" type="button" class="btn btn-danger btn-circle btn-xl"><i
      style="color:white; font-size: 20px;" class="fas fa-calendar-times"></i>
    </button>

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal2.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Buscar Alumno</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="md-form">
                            <input mdbInput type="number" #box (keyup.enter)="BuscarAlumnoxDNI2(box.value)" [(ngModel)]="buscaxDNI" id="buscaxDNI" class="form-control">
                            <label for="buscaxDNI" class=" ">DNI</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" mdbBtn mdbWavesEffect color="light" (click)="BuscarAlumnoxDNI()">Buscar</button>
                    </div>
                </div>
                <div *ngIf="codires === 200">
                    <p>{{apellido | uppercase}}, {{nombre | uppercase}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{dni}}</p>
                    <p *ngIf="yainscrito===409" style="color:red; font-size: 16px">*El alumno ya esta inscrito en este diplomado</p>
                    <p *ngIf="yainscrito===200" style="color:blue; font-size: 16px">Guardado</p>
                </div>
                <div *ngIf="codires === 502">
                    <p>ALUMNO NO ENCONTRADO</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="GuardarAlumno()" [disabled]="encontrado">Inscribir</button>
            </div>
        </div>
    </div>
</div>