.info-color {
    width: 100%;
    height: 100px;
    i.fas {
        color: white;
    }
}

.numeration {
    width: 50px;
    padding: 10px;
    margin: 0;
}

table.table th,
table.table td {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.table th,
.table td {
    padding: 0rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}