<div class="search-box">
    <div class="search-center">
        <input type="text" [(ngModel)]="term" name="term" placeholder="Search...">
        <div class="search"></div>
    </div>
</div>

<div class="container">
    <h4 class="text-center mt-5">LISTA GENERAL DE ALUMNOS</h4>
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th class="checkboxAll">
                            <div class="md-checkbox">
                                <input type="checkbox" id="chek1" name="acs" (click)="masterToggle()">
                                <label for="chek1"></label>
                            </div>
                        </th>
                        <th>CÓDIGO</th>
                        <th>ALUMNO</th>
                        <th>DNI</th>
                        <th>TELÉFONO</th>
                        <th>BOTONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of alumnos |filter:term | paginate: { itemsPerPage: 10, currentPage: pagina2 }">
                        <td class="checkboxAll">
                            <div class="md-checkbox">
                                <input id="{{item.idestudiante}}" type="checkbox" name="acs">
                                <label for="{{item.idestudiante}}"></label>
                            </div>
                        </td>
                        <td (dblclick)="Editar(item, basicModal2)">{{item.codigo}}</td>
                        <td (dblclick)="Editar(item, basicModal2)">{{item.apellido | uppercase }}, {{item.nombre | uppercase }}</td>
                        <td (dblclick)="Editar(item, basicModal2)">{{item.dni}}</td>
                        <td (dblclick)="Editar(item, basicModal2)">{{item.telefono}}</td>
                        <td (click)="abrirModal12(item.idestudiante, basicModal12)"><i class="fa fa-book" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pagina2 = $event"></pagination-controls>
        </div>
    </div>
</div>

<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button (click)="basicModal2.show()" data-target="#exampleModalScrollable" mdbWavesEffect id="add-contact-button" type="button" class="btn btn-info btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
</button>


<button id="delite-contact-button" type="button" class="btn btn-danger btn-circle btn-xl"><i
  style="color:white; font-size: 20px;" class="fas fa-calendar-times"></i>
</button>

<div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal2.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">LISTA DE DIPLOMADOS</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <input mdbInput [(ngModel)]="Estudiante.nombre" type="text" id="nombre" class="form-control">
                    <label for="nombre" class="">Nombre<span>*</span> </label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="Estudiante.apellido" type="text" id="apellidos" class="form-control">
                    <label for="apellidos" class="">Apellidos <span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="Estudiante.dni" type="number" id="dni" class="form-control">
                    <label for="dni" class="">DNI<span>*</span></label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="Estudiante.telefono" type="number" id="fecha_nacimiento" class="form-control">
                    <label for="fecha_nacimiento" class="">Telefono</label>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="Estudiante.codigo" type="number" id="codigo" class="form-control">
                    <label for="codigo" class="">Código</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" (click)="GuardarOeditar(basicModal2)" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal12="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal12.hide()">
          <span aria-hidden="true">×</span>
        </button>
                <h4 class="modal-title w-100" id="myModalLabel">Alumno</h4>
            </div>
            <div class="modal-body">
                <ul *ngFor="let item of listaDiplo">
                    <li (click)="enviarDatos(basicModal12, item.idsemestre)">{{item.diplomado}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal12.hide()" mdbWavesEffect>OK</button>
            </div>
        </div>
    </div>
</div>