<div class="container" id="imprimirpfgalumno">
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr>
                        <th rowspan="2">MODULOS</th>
                        <th colspan="2">HORAS ELECTIVAS</th>
                        <th rowspan="2">CRÉDITOS ACADEMICOS</th>
                        <th rowspan="2">NOTA FINAL</th>
                    </tr>
                    <tr>
                        <th>FASE PRESENCIAL</th>
                        <th>FASE NO PRESENCIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listas">
                        <td class="text-left nombre">{{item.modulo.nummodulo | romanos}}. {{item.modulo.denominacion}}</td>
                        <td>{{item.modulo.horafpresencial}}</td>
                        <td>{{item.modulo.horafnopresencial}}</td>
                        <td>{{item.modulo.credfnopresencial + item.modulo.credfpresencial }}</td>
                        <td>{{item.notamodulo}}</td>
                    </tr>
                    <tr>
                        <td>TOTAL</td>
                        <td>{{totalfasepresencial}}</td>
                        <td>{{totalfasepresencialno}}</td>
                        <td>{{totalcredito}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p>
    <input type="button" value="IMPRIMIR ACTA" id="btPrint" (click)="createPDF()" />
</p>