<div class="container">
    <div class="header row">
        <div class="col-4">
            <div class="md-form">
                <select class="mdb-select colorful-select dropdown-dark" #selectlista (change)="setNewListar(selectlista.value) ">
                    <option value="ALL" selected="true">-Todos-</option>
                    <option *ngFor="let lista of listas" [value]="lista.tipo">
                        {{lista.tipo}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-4 date mt-4">
            <input [(ngModel)]="hoy" type="date" name="hoy" id="hoy" (ngModelChange)="filtroFechaInicio($event)">
        </div>
        <div class="col-4 date mt-4">
            <input [(ngModel)]="maniana" type="date" name="maniana" id="maniana" (ngModelChange)="filtroFechaFin($event)">
        </div>

    </div>
    <div class="courses row">
        <div class="course col-md-6 col-sm-12" *ngFor="let course of listafilter">
            <div class="card mb-10" style="max-width: 50rem;">
                <div class="card-header header text-center" [ngClass]="course.estado + '-bg'">
                    <p> {{course.diplomado | uppercase }} </p>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text text-center">Fecha inicio : {{course.finiciodiplomado | date:'dd - MM - yyyy'}} </p>
                    <p class="card-text text-center">Fecha fin : {{course.ffindiplomado | date:'dd - MM - yyyy'}}</p>
                </div>
                <div class="footer">
                    <p class="text-center" *ngIf="course.estado === 'PENDIENTE'" (click)=IniciarRegistro(course)>
                        REGISTRAR ESTUDIANTES
                    </p>
                    <p class="text-center" *ngIf="course.estado === 'FINALIZADO'">
                        IMPRIMIR REGISTRO
                    </p>
                    <p class="text-center" *ngIf="course.estado === 'INICIADO'" (click)=RegistrarNotas(course)>
                        AGREGAR NOTAS
                    </p>
                </div>

            </div>
        </div>
        <div class="course col-md-6 col-sm-12">
            <div class="card mb-10 nuevo" style="max-width: 50rem;" (click)="NuevoApertura(basicModal3)">
                <div class="card-header header"></div>
                <div class="card-body text-primary">
                    <p class="text-center">
                        <i class="fas fa-plus fa-4x"></i>
                    </p>
                    <p class="text-center">Nuevo</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div mdbModal #basicModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" (click)="basicModal3.hide()">
            <span aria-hidden="true">×</span>
          </button>
                <h4 class="modal-title w-100" id="myModalLabel">Maestria</h4>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <select class="mdb-select colorful-select dropdown-dark" #selectdiplomados (change)="setNewListardiplomados(selectdiplomados.value) ">                               
                                <option value="" disabled=disabled selected="true">-Diplomados-</option>
                        <option *ngFor="let diploma of diplomados" [value]="diploma.denomination">
                                    {{diploma.denomination}}
                                </option>
                            </select>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="finiciodiplomado">Fecha inicio</label>
                        <input [(ngModel)]="semestre.finiciodiplomado" name="finiciodiplomado" type="date" id="finiciodiplomado" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="ffindiplomado" name="">Fecha fin</label>
                        <input [(ngModel)]="semestre.ffindiplomado" name="ffindiplomado" type="date" id="ffindiplomado" class="form-control">
                    </div>
                </div>
                <div class="md-form">
                    <input mdbInput [(ngModel)]="semestre.ciclo" type="text" id="nombredocente" class="form-control">
                    <label for="nombredocente" class="">Semestre<span>*</span> </label>
                </div>
                <div class="md-form">
                    <select class="mdb-select colorful-select dropdown-dark" #selectlistaDocente (change)="setNewListarDocente(selectlistaDocente.value) ">
                            <option disabled="disabled" selected="true">-Docentes-</option>
                            <option *ngFor="let lista of docentes" [value]="lista.iddocente">
                                {{lista.nombredocente}} {{lista.apellidodocete}}
                            </option>
                        </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal3.hide()" mdbWavesEffect>Cancelar</button>
                <button type="button" mdbBtn color="primary" [disabled]="activo" (click)="GuardaryActualizar(basicModal3)" class="relative waves-light" mdbWavesEffect>Guardar</button>
            </div>
        </div>
    </div>
</div>