.courses {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    .course {
        padding: 16px;
        &:hover {
            .course-content {
                border: none;
            }
        }
        .card {
            &:hover {
                -webkit-box-shadow: 1px 10px 40px -8px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 1px 10px 40px -8px rgba(0, 0, 0, 0.75);
                box-shadow: 1px 10px 40px -8px rgba(0, 0, 0, 0.75);
            }
            .header {
                padding: 16px 24px;
                height: 64px !important;
                min-height: 64px !important;
                max-height: 64px !important;
                &.PENDIENTE-bg {
                    background: rgba(3, 169, 244, 0.7);
                }
                &.INICIADO-bg {
                    background: rgba(244, 67, 54, 0.7);
                }
                &.FINALIZADO-bg {
                    background: rgba(0, 0, 0, 0.7);
                }
                &.new-bg {
                    background: rgba(158, 158, 158, 0.7);
                }
            }
            .footer {
                padding: 16px;
                height: 48px !important;
                min-height: 48px !important;
                max-height: 48px !important;
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
    .nuevo {
        border-style: dashed;
        &:hover {
            cursor: pointer;
        }
    }
}

.date {
    input {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.2rem;
        display: block;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid rgb(238, 133, 203);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}

.card-header {
    height: 50px;
    p {
        font-size: 12px;
        color: black;
        font-weight: 400;
    }
}